.page{
  width: 100%;
  height: 450px;
  background-color: azure;
  display: flex;
  justify-content: center;

}
.page .container{
  width: 80%;
  height:100%;
  background-color: red;
  padding: 22px;
}